aiohttp==3.8.5
asn1crypto==1.5.1
authlib==1.2.0
ecdsa==0.18.0
fastapi==0.106.0
httpx==0.24.0
itsdangerous==2.2.0
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.11
langchain-experimental==0.3.2
langgraph==0.2.35
langgraph-checkpoint==2.0.1
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
python-dotenv==1.0.0
requests==2.31.0
starlette==0.27.0
uvicorn==0.22.0
